<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Second Chance Support</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Second Chance Support</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FLTEnableImpeller</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1815733895558819~2134599009</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyAD84RO7Km6oCoNzMBnSNOCcVAWsURpFTU</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please grant camera access</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to show your current position on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to show your current position on the map.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please grant microphone access</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to allow you to select and upload photos for creating personalized content in the app.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
